/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body{
    margin-top: 100px;
}

container{    
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
}

ul{
    padding: 0;
    border: 1px solid  rgb(245, 245, 245);
    border-radius: 0%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

ul li{
    list-style: none;
    border: 1px solid rgb(245, 245, 245);
    display: flex;
    justify-content: space-between;
    color: grey;
    padding: 10px;
}

ul li:hover {
    background-color: aliceblue;
}

ul li span{
    opacity: 0;
    padding-right: 15px;
}

ul li:hover span{
    opacity: 1;
    padding-right: 15px;
}

h1{
    font-size: 2.5rem;
    color: grey;
}

